/* Подключение шрифтов */
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

/* Возможно это не нужно. Попробовать потом удалить!!!! */
html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: 'Rubik', sans-serif;
  min-height: 100%;
  margin: 0;
}

/* Стили для блока header */
.header {
  width: 1160px;
  margin: 40px auto 0 auto;
  background-color: #FFE17F;
}

.header-wrapper {
  width: 1046px;
  margin: 0 auto 0 auto;
  position: relative;
}

.header__logo {
  position: absolute;
  top: -21px;
  left: -2px;
}

.header__navigation-wrapper {
  padding-top: 45px;
  display: flex;
  align-items: center;
}

.header__form {
  margin-left: 4px;
  display: flex;
}

.header__input {
  box-sizing: border-box;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 125px 8px 46px;
  background-image: url(../images/header-input-icon.svg);
  background-position: left 16px center;
  background-repeat: no-repeat;
}

.header__input:focus {
  outline: #AF4FFF solid 2px;
}

.header__input:disabled {
  opacity: 0.3;
}

.header__button {
  box-sizing: border-box;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 54px;
}

.header__button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.header__button:active {
  color: rgb(255, 255, 255, .3);
}

.header__button:focus {
  outline: #AF4FFF solid 2px;
}

.header__button:disabled {
  opacity: 0.3;
}

/* Стили для пользовательского меню */
.header__user-navigation {
  width: 522px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__user-navigation-link {
  color:#000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.header__user-navigation-link:hover {
  opacity: 0.7;
}

.header__user-navigation-link:active {
  opacity: 0.4;
}

.header__user-navigation-link:focus {
  outline: #AF4FFF solid 2px;
}

.header__user-navigation-item-log-in {
  margin-left: 25px;
}

.header__user-navigation-link-log-in-ikon {
  background-image: url(../images/header-user-nav-log-in.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 12px;
  margin-right: 12px;
}

.header__user-navigation-item-compare {
  margin-left: auto;
  margin-right: 11px;
}

.header__user-navigation-link-compare-ikon {
  background-image: url(../images/header-user-nav-compare.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 12px;
  margin-right: 10px;
}

.header__user-navigation-link-basket-ikon {
  background-image: url(../images/header-user-nav-basket.svg);
  background-repeat: no-repeat;
  background-position: right 0 bottom 65%;
  width: 38px;
  height: 30px;
  margin-right: 12px;
  position: relative;
}

.header__user-navigation-link-log-in-counter {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 5px;
  left: 7px;
}

/* Стили для навигации по магазину */
.header__magazin-navigation {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__magazin-navigation-link {
  text-decoration: none;
  color: #000000;
}

.header__magazin-navigation-link:not(.header__magazin-navigation-link-catalog):hover {
  opacity: 0.7;
}

.header__magazin-navigation-link:not(.header__magazin-navigation-link-catalog):active {
  opacity: 0.3;
}

.header__magazin-navigation-link:focus {
  outline: #AF4FFF solid 2px;
}

.header__magazin-navigation-link-active {
  border-bottom: 2px solid #000000;
  padding-bottom: 2px;
}

.header__magazin-navigation-link-catalog {
  display: flex;
  align-items: center;
}

.header__magazin-navigation-button {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #000000;
  background-image: url(../images/header-mag-nav-button-open.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  margin-left: 17px;
}

.header__magazin-navigation-item-catalog {
  margin-left: 4px;
  position: relative;
}

.header__magazin-navigation-item-delivery {
  margin-left: auto;
  margin-right: 43px;
}

.header__magazin-navigation-item-warranty {
  margin-right: 46px;
}

/* Стили для выпадающего меню */
.header__magazin-submenu {
  display: none;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  letter-spacing: 0;
  background-color: #FFE17F;
  position: absolute;
  top: 50px;
  left: -62px;
  padding: 13px 0 56px 62px;
  width: 1160px;
  box-sizing: border-box;
  grid-template-columns: 200px 160px 160px;
  grid-template-rows: repeat(3, 1fr);
  gap: 18px 52px;
}

.header__magazin-submenu-link-action-cameras {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.header__magazin-navigation-item-catalog:hover > .header__magazin-submenu {
  display: grid;
}

.header__magazin-navigation-link-catalog:hover > .header__magazin-navigation-button {
  background-image: url(../images/header-mag-nav-button-close.svg);
  opacity: 1;
}

.header__magazin-submenu-link {
  color: #000000;
  text-decoration: none;
}

.header__magazin-submenu-link:hover {
  opacity: 0.7;
}

.header__magazin-submenu-link:active {
  opacity: 0.3;
}

.header__magazin-submenu-link:focus {
  outline: #AF4FFF solid 2px;
}

.header__magazin-submenu-link-active {
  border-bottom: 2px solid #000000;
}

/* Стили для tooltip */
.header__user-navigation-item-basket {
  position: relative;
}

.header__user-navigation-item-basket:hover > .header__tooltip {
  display: flex;
}

.header__tooltip {
  width: 320px;
  height: 301px;
  position: absolute;
  top: 35px;
  left: -120px;
  background-color: #000000;
  color: #FFFFFF;
  display: none;
  flex-direction: column;
}

.header__tooltip::after {
  content: '';
  background-image: url(../images/header-basket-tooltip-arrow.svg);
  width: 14px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: 153px;
}

.header__tooltip-basket-list {
  list-style-type: none;
  padding: 0;
}

.header__tooltip-basket-item {
  padding: 20px;
  border-bottom: 1px solid rgb(255, 255, 255, .3);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header__tooltip-basket-item:last-of-type {
  border: none;
}

.header__tooltip-basket-item-link {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tooltip-basket-item-link:hover {
  opacity: 0.6;
}

.header__tooltip-basket-item-link:active {
  opacity: 0.3;
}

.header__tooltip-basket-item-link:focus {
  outline: #AF4FFF solid 2px;
}

.header__tooltip-basket-item-title {
  max-width: 160px;
  margin: 0;
  margin-left: 23px;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header__tooltip-basket-close-button {
  width: 10px;
  height: 10px;
  align-self: flex-start;
  background-image: url(../images/header-basket-tooltip-button-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}

.header__tooltip-basket-close-button:hover {
  opacity: 0.6;
}

.header__tooltip-basket-close-button:active {
  opacity: 0.3;
}

.header__tooltip-basket-close-button:focus {
  outline: #AF4FFF solid 2px;
}

.header__tooltip-basket-products-counter, .header__tooltip-basket-products-price {
  font-size: 16px;
  line-height: 20px;
}

.header__tooltip-basket-container {
  background-color: #1A1A1A;
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__tooltip-basket-button {
  width: 280px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.header__tooltip-basket-button:hover {
  background-color: #FFE17F;
}

.header__tooltip-basket-button:active {
  background-color: #FFE17F;
  color: rgb(1, 1, 1, 0.3);
}

.header__tooltip-basket-button:focus {
  outline: #AF4FFF solid 2px;
}

.header__tooltip-basket-button:disabled {
  color: rgb(1, 1, 1, 0.3);
}
